name: Build OpenSSH mipsel

on:
  workflow_dispatch:
  #schedule:
    #- cron: "0 23 * * 5"

jobs:
  check_version:
    runs-on: ubuntu-latest
    outputs:
      needs_deploy: ${{ steps.compare-versions.outputs.needs_deploy }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set version
        run: |
          ./check_version.sh ${{ secrets.GITHUB_TOKEN }} ${{ github.repository }} master
        
      - name: Compare versions
        id: compare-versions
        run: |
          DEPLOY_STATUS="${{ env.DEPLOY_STATUS }}"
          LAST_ARTIFACT_VERSION="${{ env.LAST_ARTIFACT_VERSION }}"
          LAST_SSH_VERSION="${{ env.LAST_SSH_VERSION }}"
          if [ "$LAST_SSH_VERSION" == "$LAST_ARTIFACT_VERSION" ]; then
            echo "Skip job."
            echo "needs_deploy=false" >> "$GITHUB_OUTPUT"
          else
            echo "Versions differ."
            echo "needs_deploy=true" >> "$GITHUB_OUTPUT"
          fi

  build:
    needs: check_version
    if: needs.check_version.outputs.needs_deploy == 'true'
    strategy:
      matrix:
        os: [ubuntu-latest]
        arch: [mipsel, aarch64]  # aarch64 Объединяем архитектуры в один список.
      fail-fast: false # продолжаем сборку даже если одна из матриц упала

    env:
      CC: ${{ matrix.arch }}-linux-gnu-gcc
      CXX: ${{ matrix.arch }}-linux-gnu-g++
      AR: ${{ matrix.arch }}-linux-gnu-ar
      RANLIB: ${{ matrix.arch }}-linux-gnu-ranlib
      STRIP: ${{ matrix.arch }}-linux-gnu-strip

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out the repository
        uses: actions/checkout@v4

      - name: Set up cross-compilation toolchain
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            gcc-${{ matrix.arch }}-linux-gnu \
            g++-${{ matrix.arch }}-linux-gnu \
            make autoconf automake libtool pkg-config zlib1g-dev curl wget jq

      - name: Get number of CPU cores
        uses: SimenB/github-actions-cpu-cores@v2
        id: cpu-cores

      - name: Get latest version
        id: versions
        run: |
          # Более надежный парсинг JSON с jq.
          #ZLIB_VERSION=$(curl -s https://api.github.com/repos/madler/zlib/releases/latest | jq -r '.assets[] | select(.name | test("zlib-.*\\.tar\\.gz")) | .name' | sed 's|\.tar\.gz||' | sort -V | tail -n 1)
          #ZLIB_VERSION=$(curl -s https://api.github.com/repos/madler/zlib/releases/latest | jq -r '.assets[] | select(.name | test("zlib-.*\\.tar\\.gz")) | .name' | sed 's|\.tar\.gz||' | sort -V | tail -n 1 | grep -o 'zlib-.*')
          ZLIB_VERSION=$(curl -s https://api.github.com/repos/madler/zlib/releases/latest | grep -o 'zlib-[^"]*\.tar\.gz' | sed 's|\.tar\.gz||' | sort -V | tail -n 1)
          OPENSSL_VERSION=$(curl -s https://api.github.com/repos/openssl/openssl/releases/latest | jq -r '.tarball_url' | sed 's|.*/||; s|\.tar\.gz||' | sort -V | tail -n 1)
          OPENSSH_VERSION=$(curl -s https://cdn.openbsd.org/pub/OpenBSD/OpenSSH/portable/ | grep -o 'openssh-[^"]*\.tar\.gz' | sed 's|\.tar\.gz||' | sort -V | tail -n 1)
          echo $ZLIB_VERSION
          echo $OPENSSL_VERSION
          echo $OPENSSH_VERSION
          echo "ZLIB_VERSION=$ZLIB_VERSION" >> "$GITHUB_OUTPUT"
          echo "OPENSSL_VERSION=$OPENSSL_VERSION" >> "$GITHUB_OUTPUT"
          echo "OPENSSH_VERSION=$OPENSSH_VERSION" >> "$GITHUB_OUTPUT"

      - name: Determine prefix and host
        id: vars
        run: |
          # Устанавливаем prefix и host в зависимости от архитектуры.
          if [[ "${{ matrix.arch }}" == "mipsel" ]]; then
            PREFIX="/opt/"
            HOST="mipsel-linux-gnu"
          else
            PREFIX="/xbin/"
            HOST="${{ matrix.arch }}-linux-gnu"
          fi
          echo "PREFIX=$PREFIX" >> "$GITHUB_OUTPUT"
          echo "HOST=$HOST" >> "$GITHUB_OUTPUT"
          echo "OUTPUT=$GITHUB_WORKSPACE/output/${{ matrix.arch }}" >> "$GITHUB_OUTPUT"
          
          

      - name: Build zlib
        run: |
          wget -q https://zlib.net/${{ steps.versions.outputs.ZLIB_VERSION }}.tar.gz
          tar -xzf ${{ steps.versions.outputs.ZLIB_VERSION }}.tar.gz
          cd ${{ steps.versions.outputs.ZLIB_VERSION }}
          ./configure --prefix=${{ steps.vars.outputs.PREFIX }} --static
          make -j${{ steps.cpu-cores.outputs.count }}
          make install DESTDIR=${{ steps.vars.outputs.OUTPUT }}
          # 
      - name: Build OpenSSL
        run: |
          wget -q https://github.com/openssl/openssl/releases/download/${{ steps.versions.outputs.OPENSSL_VERSION }}/${{ steps.versions.outputs.OPENSSL_VERSION }}.tar.gz
          tar -xzf ${{ steps.versions.outputs.OPENSSL_VERSION }}.tar.gz
          cd ${{ steps.versions.outputs.OPENSSL_VERSION }}
          ./Configure "linux-${{ matrix.arch == 'mipsel' && 'mips32' || matrix.arch }}" --prefix=${{ steps.vars.outputs.PREFIX }}/etc no-asm no-docs no-shared -fPIC -static
          make -j${{ steps.cpu-cores.outputs.count }}
          make install DESTDIR=${{ steps.vars.outputs.OUTPUT }}

      - name: Build OpenSSH
        run: |
          LISTURL="https://cdn.openbsd.org/pub/OpenBSD/OpenSSH/portable https://ftp.spline.de/pub/OpenBSD/OpenSSH/portable https://mirror.yandex.ru/pub/OpenBSD/OpenSSH/portable/"
          for URL in $LISTURL ; do
            echo "Попытка $attempt из 5 для загрузки $URL"
            wget -q $URL/${{ steps.versions.outputs.OPENSSH_VERSION }}.tar.gz && { echo "Файл успешно загружен."; break; }
            echo "Ошибка. Попробую снова через 5 секунд..."
            sleep 5
          done
          if [ ! -f ${{ steps.versions.outputs.OPENSSH_VERSION }}.tar.gz ]; then
            echo "Не удалось загрузить файл."
            exit 1
          fi
          
          tar -xzf ${{ steps.versions.outputs.OPENSSH_VERSION }}.tar.gz
          cd $(find ./ -type d -iname 'openssh*' | head -n1)
          #cd ${{ steps.versions.outputs.OPENSSH_VERSION }}
          #export STRIP=${{ matrix.arch }}-linux-gnu-strip
          #             --disable-strip \
          if [[ "${{ matrix.arch }}" == "mipsel" ]]; then
            ./configure \
            --host=${{ steps.vars.outputs.HOST }} \
            --prefix=${{ steps.vars.outputs.PREFIX }} \
            --bindir=${{ steps.vars.outputs.PREFIX }}bin \
            --sbindir=${{ steps.vars.outputs.PREFIX }}sbin \
            --libexecdir=${{ steps.vars.outputs.PREFIX }}libexec \
            --with-zlib=${{ steps.vars.outputs.OUTPUT }}${{ steps.vars.outputs.PREFIX }} \
            --with-ssl-dir=${{ steps.vars.outputs.OUTPUT }}${{ steps.vars.outputs.PREFIX }}etc \
            --with-privsep-user=root \
            --sysconfdir=${{ steps.vars.outputs.PREFIX }}etc/ssh \
            --with-privsep-path=${{ steps.vars.outputs.PREFIX }}var/empty \
            --with-pid-dir=${{ steps.vars.outputs.PREFIX }}var/run \
            --disable-strip \
            --disable-legacy --enable-ssh-keygen-wrap \
            LDFLAGS="-static" \
            LIBS="-lpthread"
          else
            ./configure \
            --host=${{ steps.vars.outputs.HOST }} \
            --prefix=/ \
            --bindir=/xbin \
            --sbindir=/xbin \
            --libexecdir=/xbin \
            --with-zlib=${{ steps.vars.outputs.OUTPUT }}${{ steps.vars.outputs.PREFIX }} \
            --with-ssl-dir=${{ steps.vars.outputs.OUTPUT }}${{ steps.vars.outputs.PREFIX }}etc \
            --with-privsep-user=root \
            --sysconfdir=/etc/ssh \
            --with-privsep-path=/var/empty \
            --with-pid-dir=/var/run \
            --disable-strip \
            --disable-legacy --enable-ssh-keygen-wrap \
            LDFLAGS="-static" \
            LIBS="-lpthread"
          fi
          make -j${{ steps.cpu-cores.outputs.count }}
          make install DESTDIR=${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}

      - name: Debug - List OpenSSH install directory
        if: always() # Всегда запускать, даже если предыдущие шаги провалились для отладки
        #if-no-files-found: warn
        run: |
          if [[ "${{ matrix.arch }}" == "mipsel" ]]; then
          echo "Listing contents of ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}bin:"
          ls -l ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}bin/
          echo "Listing contents of ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}libexec:"
          ls -l ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}libexec/
          echo "Listing contents of ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}sbin:"
          ls -l ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}sbin/
          echo "Listing contents of ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}etc/ssh:"
          ls -l ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}${{ steps.vars.outputs.PREFIX }}etc/ssh/
          fi
          echo "output list:"
          ls -l ${{ steps.vars.outputs.OUTPUT }}
          tree ${{ steps.vars.outputs.OUTPUT }}

      - name: Create tar.gz archive
        run: |
          #cd ${{ steps.vars.outputs.OUTPUT }}/openssh-${{ matrix.arch }}
          #tar -czvf $GITHUB_WORKSPACE/output/openssh-${{ matrix.arch }}.tar.gz ./*
          cd ${{ steps.vars.outputs.OUTPUT }}
          find ./ -type f -exec file --mime-type {} \; | grep -E ': application/x-(executable|pie-executable)' | cut -d: -f1 | xargs ${{ env.STRIP }} -sv          
          tar -czvf ${{ github.workspace }}/openssh-${{ matrix.arch }}.tar.gz ./*
          if [[ "${{ matrix.arch }}" == "mipsel" ]]; then
            mv ../../create-opkg-ipk.sh ./create-opkg-ipk.sh
            ./create-opkg-ipk.sh ${{ matrix.arch }} # Передаем архитектуру как аргумент
            cd
            find ${{ github.workspace }}/ -type f -iname "*.ipk"
          fi

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.versions.outputs.OPENSSH_VERSION }}-${{ matrix.arch }}-static
          #path: output/openssh-${{ matrix.arch }}.tar.gz
          path: |
            openssh-${{ matrix.arch }}.tar.gz
            ${{ steps.vars.outputs.OUTPUT }}/${{ steps.versions.outputs.OPENSSH_VERSION }}-${{ matrix.arch }}.ipk
          if-no-files-found: warn
          compression-level: 9
          overwrite: true # Перезаписываем артефакт
